requests~=2.32.4
tweepy~=4.16.0
schedule~=1.2.2
matplotlib~=3.10.3
python-dotenv~=1.2.1
fastapi~=0.128.0
uvicorn~=0.40.0
flake8~=7.3.0
pytest~=9.0.2
httpx~=0.28.1
sqlalchemy
pydantic
numpy
jinja2
alembic