<!DOCTYPE html>
<html lang="en">
<head>
    <title>ERCOT Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            font-family: sans-serif;
            margin: 2em;
        }

        .chart-container {
            width: 80%;
            margin: auto;
        }

        nav {
            margin-bottom: 2em;
        }
    </style>
</head>
<body>
<h1>ERCOT Generation Mix Over Time</h1>
<nav>
    <a href="/">View Images</a>
    <a href="/dashboard?timespan=1D">1 Day</a>
    <a href="/dashboard?timespan=3D">3 Days</a>
    <a href="/dashboard?timespan=1W">1 Week</a>
    <a href="/dashboard?timespan=1M">1 Month</a>
</nav>
<div class="chart-container">
    <canvas id="genChart"></canvas>
</div>

<script>
    const ctx = document.getElementById('genChart').getContext('2d');
    const labels = {{ labels | tojson }}
    const datasets = {{ datasets | tojson }}
    const sourceColors = {{ source_colors | tojson }}

    datasets.forEach((dataset) => {
        const color = sourceColors[dataset.label] || '#666666';
        
        dataset.borderColor = color;
        dataset.backgroundColor = (context) => {
            const chart = context.chart;
            const {ctx, chartArea} = chart;
            if (!chartArea) return null;

            const gradient = ctx.createLinearGradient(0, chartArea.top, 0, chartArea.bottom);
            gradient.addColorStop(0, color);
            gradient.addColorStop(1, color + '33');

            return gradient;
        };
    });

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: datasets
        },
        options: {
            responsive: true,
            scales: {
                x: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Timestamp'
                    },
                    stacked: true
                },
                y: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Generation (MW)'
                    },
                    stacked: true,
                    beginAtZero: true
                }
            },
            plugins: {
                filler: {
                    propagate: true
                }
            },
            elements: {
                line: {
                    tension: 0.4
                },
                point: {
                    pointStyle: 'cross'
                }
            }
        }
    });
</script>
</body>
</html>
